.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
  color: white;
  font-size: 13px;
}

.divider::before,
.divider::after {
  content: '';
  flex: 0.5;
  border-bottom: 1px solid #eee;
}

.divider:not(:empty)::before {
  margin-right: 15px;
}

.divider:not(:empty)::after {
  margin-left: 15px;
}


.google-btn {
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #eef0f2;
  border-radius: 12px;
  color: #555;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.google-btn:hover {
  background-color: #f9fafb;
  border-color: #ddd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.google-icon {
  width: 20px;
  height: 20px;
}